In [33]:
column_dataset = {
    "Name": ["Edward Teach", "Anne Bonny", "John Rackham", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida al Hurra", "Zheng Yi Sao", "Francis Drake", "Jean Lafitte"],
    "Years Active": ["1716 - 1718", "1718 - 1720", "1718 - 1720", "1798 - 1810", "1564 - 1595", "1708 - 1721", "1515 - 1545", "1801 - 1810", "1563 - 1596", "1810 - 1823"],
    "Sailed": ["Caribbean", "Caribbean", "Caribbean", "South China Sea", "British Isles", "Caribbean", "Mediterranean", "South China Sea", "Caribbean", "Gulf of Mexico"],
    "Alias": ["Blackbeard", "", "Calico Jack", "The Kid", "Queen of Ireland", "Mark", "Hakimat Titwan", "Ching Shih", "Sir Francis Drake", "Terror of the Gulf"]
}

In [34]:
dict_dataset = {
    "Edward Teach": {
        "Years Active": "1716 - 1718",
        "Sailed": "Caribbean",
        "Alias": "Blackbeard"
    },

    "Anne Bonny": {
        "Years Active": "1718 - 1720",
        "Sailed": "Caribbean",
        "Alias": ""
    },

    "John Rackham": {
        "Years Active": "1718 - 1720",
        "Sailed": "Caribbean",
        "Alias": "Calico Jack"
    },

    "Cheung Po Tsai": {
        "Years Active": "1798 - 1810",
        "Sailed": "South China Sea",
        "Alias": "The Kid"
    },

    "Grace O'Malley": {
        "Years Active": "1564 - 1595",
        "Sailed": "British Isles",
        "Alias": "Queen of Ireland"
    },

    "Mary Read": {
        "Years Active": "1708 - 1721",
        "Sailed": "Caribbean",
        "Alias": "Mark"
    },

    "Sayyida al Hurra": {
        "Years Active": "1515 - 1545",
        "Sailed": "Mediterranean",
        "Alias": "Hakimat Titwan"
    },

    "Zheng Yi Sao": {
        "Years Active": "1801 - 1810",
        "Sailed": "South China Sea",
        "Alias": "Ching Shih"
    },

    "Francis Drake": {
        "Years Active": "1563 - 1596",
        "Sailed": "Caribbean",
        "Alias": "Sir Francis Drake"
    },

    "Jean Lafitte": {
        "Years Active": "1810 - 1823",
        "Sailed": "Gulf of Mexico",
        "Alias": "Terror of the Gulf"
    },
}

In [35]:
row_dataset = {
    "Edward Teach": ["1716 - 1718", "Caribbean", "Blackbeard"],
    "Anne Bonny": ["1718 - 1720", "Caribbean", ""],
    "John Rackham": ["1718 - 1720", "Caribbean", "Calico Jack"],
    "Cheung Po Tsai": ["1798 - 1810", "South China Sea", "The Kid"],
    "Grace O'Malley": ["1564 - 1595", "British Isles", "Queen of Ireland"],
    "Mary Read": ["1708 - 1721", "Caribbean", "Mark"],
    "Sayyida al Hurra": ["1515 - 1545", "Mediterranean", "Hakimat Titwan"],
    "Zheng Yi Sao": ["1801 - 1810", "South China Sea", "Ching Shih"],
    "Francis Drake": ["1563 - 1596", "Caribbean", "Sir Francis Drake"],
    "Jean Lafitte": ["1810 - 1823", "Gulf of Mexico", "Terror of the Gulf"],
}

In [36]:
count = 0
for i in row_dataset:
    if(row_dataset[i][0][:2] == "17" and row_dataset[i][1] == "Caribbean"):
        count += 1
print("There are", count, "pirates who were active in the Caribbean during the 18th century.")

There are 4 pirates who were active in the Caribbean during the 18th century.

In [37]:
curLength = 0
longestCareer = 0
longestName = ""
frontYear = 0
backYear = 0

for i in row_dataset:
    frontYear = int(row_dataset[i][0][:4])
    backYear = int(row_dataset[i][0][-4:])
    curLength = backYear - frontYear
    if(curLength > longestCareer):
        longestCareer = curLength
        longestName = i
print("The longest career belongs to", longestName, "with", longestCareer, "years on their career.")

The longest career belongs to Francis Drake with 33 years on their career.

In [38]:
frontYear = 0
backYear = 0
curLength = 0
totalLength = 0
pirateCount = 0

for i in row_dataset:
    frontYear = int(row_dataset[i][0][:4])
    backYear = int(row_dataset[i][0][-4:])
    curLength = backYear - frontYear
    totalLength += curLength
    pirateCount += 1
averageLength = totalLength / pirateCount
print("The average length of a pirate's active career is", averageLength, "years.")

The average length of a pirate's active career is 14.7 years.

In [39]:
newDataset = {
    "Pirate": ["Blackbeard", "Anne Bonny", "Calico Jack", "Chueng Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida al Hurra", "Ching Shih", "Sir Francis Drake", "Jean Lafitte"],
    "Sex": ["M", "F", "M", "M", "F", "F", "F", "F", "M", "M"],
    "Age at Death": [40, 24, 37, 39, 73, 36, 75, 69, 56, 46],
    "Height": [6.4, 5.6, 5.3, 5.0, 5.1, "", 5.3, 5.5, 6.2],
    "Skull and Crossbones": [False, True, True, False, False, True, False, False, False, False]
}

In [40]:
combinedDataset = column_dataset

for j in newDataset:
    if(j != "Pirate"):
        combinedDataset[j] = newDataset[j]

for i in combinedDataset:
    print(i + ":",combinedDataset[i])

Name: ['Edward Teach', 'Anne Bonny', 'John Rackham', 'Cheung Po Tsai', "Grace O'Malley", 'Mary Read', 'Sayyida al Hurra', 'Zheng Yi Sao', 'Francis Drake', 'Jean Lafitte']
Years Active: ['1716 - 1718', '1718 - 1720', '1718 - 1720', '1798 - 1810', '1564 - 1595', '1708 - 1721', '1515 - 1545', '1801 - 1810', '1563 - 1596', '1810 - 1823']
Sailed: ['Caribbean', 'Caribbean', 'Caribbean', 'South China Sea', 'British Isles', 'Caribbean', 'Mediterranean', 'South China Sea', 'Caribbean', 'Gulf of Mexico']
Alias: ['Blackbeard', '', 'Calico Jack', 'The Kid', 'Queen of Ireland', 'Mark', 'Hakimat Titwan', 'Ching Shih', 'Sir Francis Drake', 'Terror of the Gulf']
Sex: ['M', 'F', 'M', 'M', 'F', 'F', 'F', 'F', 'M', 'M']
Age at Death: [40, 24, 37, 39, 73, 36, 75, 69, 56, 46]
Height: [6.4, 5.6, 5.3, 5.0, 5.1, '', 5.3, 5.5, 6.2]
Skull and Crossbones: [False, True, True, False, False, True, False, False, False, False]