In [116]:
import pandas as pd
pd.__version__

'1.4.4'

In [117]:
df = pd.read_csv('pirates.csv')

df.head(5)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14

In [118]:
df.info()

print (df['parrots'].dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB
object

In [119]:
for colName in (df.columns[df.isnull().any()].tolist()):
    print (colName, df[df[colName].isnull()].index.tolist())

age [33]
headband [999]
favorite.pirate [634]
sword.time [136]

In [120]:
for col in (df.columns[df.isnull().any()].tolist()):
    df[col].fillna(df[col].mode()[0], inplace=True)

In [121]:
print("There are", df["sex"].nunique(), "unique genders represented in this dataset.")

There are 3 unique genders represented in this dataset.

In [122]:
print("The average age of a pirate in this dataset is", round(df["age"].mean()), "years old.")

print("The average age of a female pirate in this dataset is", round(df["age"][df["sex"] == "female"].mean()), "years old.")

The average age of a pirate in this dataset is 27 years old.
The average age of a female pirate in this dataset is 30 years old.

In [123]:
print("The percent of pirates below 100 pounds is", (df["weight"] < 45.3592).mean() * 100, "percent.")

The percent of pirates below 100 pounds is 0.8 percent.

In [124]:
print("The shortest pirate in this dataset is at ID", df.loc[df["height"].idxmin()]["id"], "and is", df["height"].min(), "cm tall.")
print("The heaviest pirate in this dataset is at ID", df.loc[df["weight"].idxmax()]["id"], "and weighs", df["weight"].max(), "kg.")
print("The most popular movie in the dataset is", df["fav.pixar"].mode()[0])

The shortest pirate in this dataset is at ID 39 and is 129.83 cm tall.
The heaviest pirate in this dataset is at ID 2 and weighs 105.6 kg.
The most popular movie in the dataset is Inside Out

In [125]:
df.head()
df.dtypes

id                   int64
sex                 object
age                float64
height             float64
weight             float64
headband            object
college             object
tattoos              int64
tchests              int64
parrots             object
favorite.pirate     object
sword.type          object
eyepatch             int64
sword.time         float64
beard.length         int64
fav.pixar           object
grogg                int64
dtype: object

In [126]:
print("The average number of eyepatches worn by pirates is", df["eyepatch"].mean(), "and the median number is", df["eyepatch"].median())

df["parrots"] = pd.to_numeric(df["parrots"], errors="coerce").astype('Int32')
print("The average number of parrots owned is", df["parrots"].mean(), "and the median number is", df["parrots"].median())

The average number of eyepatches worn by pirates is 0.658 and the median number is 1.0
The average number of parrots owned is 2.820820820820821 and the median number is 2.0

In [127]:
df2 = pd.read_csv("PirateNewRow.csv")
df = pd.concat([df, df2], ignore_index=True)
df.tail()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
996,997,female,34.0,157.20,53.60,yes,JSSFP,13,48,2,Hook,cutlass,0,0.15,0,Finding Nemo,8
997,998,male,36.0,175.74,72.40,yes,JSSFP,9,95,14,Jack Sparrow,cutlass,1,1.28,18,The Incredibles,11
998,999,male,30.0,175.24,70.20,yes,JSSFP,9,6,0,Lewis Scot,cutlass,1,0.21,24,Inside Out,10
999,1000,male,30.0,189.45,84.00,yes,JSSFP,10,36,1,Jack Sparrow,cutlass,0,0.95,19,Up,14
1000,1001,female,43.0,187.30,97.12,no,CCCC,17,3,0,Blackbeard,cutlass,0,0.67,0,Finding Nemo,0

In [128]:
df3 = pd.read_csv("PirateNewColumn.csv")
df = pd.merge(df, df3, on="id", how="left")
df.tail()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg,favorite.sea
997,997,female,34.0,157.20,53.60,yes,JSSFP,13,48,2,Hook,cutlass,0,0.15,0,Finding Nemo,8,South China Sea
998,998,male,36.0,175.74,72.40,yes,JSSFP,9,95,14,Jack Sparrow,cutlass,1,1.28,18,The Incredibles,11,Celebes Sea
999,999,male,30.0,175.24,70.20,yes,JSSFP,9,6,0,Lewis Scot,cutlass,1,0.21,24,Inside Out,10,Labrador Sea
1000,1000,male,30.0,189.45,84.00,yes,JSSFP,10,36,1,Jack Sparrow,cutlass,0,0.95,19,Up,14,NaN
1001,1001,female,43.0,187.30,97.12,no,CCCC,17,3,0,Blackbeard,cutlass,0,0.67,0,Finding Nemo,0,NaN